.Inplant {
    background-color: #B2E4DB;
    width: 100%;
    height: 796px;
}

.Jumbotron {
    background-color: lightcoral;
    box-shadow: 5px 10px #ccc;
}

.Jumbotron2 {
    background-color: coral;
    box-shadow: 5px 10px #ccc;

}

.Jumbotron3 {
    background-color: hotpink;
    box-shadow: 5px 10px #ccc;

}