.Progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
}
@keyframes progress {
    to {
        background-color: rgb(20, 255, 226);
        width: 100%;
    }
}